body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container,
.register-container,
.add-product-container {
  background-color: rgb(224, 233, 230);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box,
.register-box,
.add-product-box {
  min-height: 50vh;
  background-color: rgb(246, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 20px;
  gap: 50px;
  box-shadow: 0px 0px 2px;
}
#login-form,
#register-form,
#add-product-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#login-form input,
#register-form input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#add-product-form input {
  min-width: 350px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#add-product-form > .flex-items > input[name="stock"],
#add-product-form > .flex-items > input[name="price"],
#add-product-form > .flex-items > input[name="productName"] {
  min-width: 30px;
}

#add-product-form > .flex-items > select {
  border-radius: 10px;
  padding: 2px;
  width: 180px;
}

textarea {
  padding: 5px;
  border-radius: 10px;
}
#login-form button,
#register-form button,
#add-product-form button {
  width: 100px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(104, 104, 255);
}

#login-header,
#register-header,
#add-product-header {
  font-size: 22px;
}
.flex-items {
  display: flex;
  gap: 5px;
}
.flesh {
  display: none;
}

.flesh.error {
  color: rgb(235, 75, 75);
  background-color: rgb(221, 186, 186);
  padding: 5px;
}
