<div class="container my-5 text-center">
  <h2>Payment Successful</h2>
  <p>Order Id :<%= order.id %> Successfully Ordered Your Products</p>

  <a href="/user/orders/<%= order.id %>" class="btn btn-primary">
    View Order
  </a>
</div>
