<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ecommerce</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="d-flex mx-auto" action="/" id="searchForm">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
          id="searchInput"
          name="query"
          value="<%=query%>"
        />
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="bi bi-cart"
              ><sup>
                <span id="cartCountBadge" class="badge bg-danger"
                  ><%=counts%></span
                >
              </sup>
            </i>
          </a>
        </li>

        <% if (user) { %> <% if (user.role === "admin") { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add-category">Add category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add-product">Add Product</a>
        </li>
        <% } %>

        <li class="nav-item">
          <form action="/api/auth/logout" method="POST" class="d-inline">
            <button type="submit" class="btn nav-link">Logout</button>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<script type="module" src="/js/navbar.js"></script>
