<section class="add-product-container">
  <div class="add-product-box">
    <div id="add-product-header">Add Category</div>
    <form action="/admin/api/add-category" id="add-product-form" method="POST">
      <input
        type="text"
        name="category"
        id="category"
        placeholder="category"
        required
      />
      <button type="submit" class="btn-primary" style="width: 150px">
        Add Category
      </button>
    </form>

    <div class="flesh" id="flesh-msg"></div>
  </div>
</section>
