<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="register-container">
      <div class="register-box">
        <div id="register-header">Register</div>
        <form action="/api/auth/register" id="register-form" method="POST">
          <input type="text" name="name" id="name" placeholder="Name" />
          <input type="email" name="email" id="email" placeholder="Email" />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <button type="submit">Sign Up</button>
        </form>
        <div class="refer">
          Already Have Account ?<a href="/login">login</a>
        </div>
        <div class="flesh" id="flesh-msg"></div>
        <% if (error) { %>
        <div class="flash error" id="backend-error"><%= error %></div>
        <% } %> <% if (success) { %>
        <div class="flash success" id="backend-success"><%= success %></div>
        <% } %>
      </div>
    </section>
    <script type="module" src="/js/validate.js"></script>
  </body>
</html>
